@use './_fonts';
@use './_variables' as *;
@use './_form';
@use './mixins';

// Global styles
body {
  font-family: $font-family-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background-color;
  color: $primary-color;
}